@charset "UTF-8";
:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --color-letter-white: #ffffff;
  --color-letter-blue: #2196f3;
  --active-link-color: #188ce8;
  --color-background: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Raleway", sans-serif;
}

.body {
  font-family: var(--font-family);
}

.checkbox__label, .clients__list {
  display: flex;
  align-items: center;
}

.send, .modal__close, .section__icons, .network__link, .companies__link, .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Глобальный сброс стилей по селектору тега, то чтоне входит в нормалайз */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ul {
  list-style: none;
}

p {
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* display: block; */
}

button {
  cursor: pointer;
  direction: none;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.service__button {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service__button:hover, .service__button:focus {
  background-color: var(--active-link-color);
}

.buttons__list--blue {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  min-width: 73px;
  min-height: 38px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__list--blue:hover, .buttons__list--blue:focus {
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;
  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-btn:hover, .section-btn:focus {
  background-color: var(--active-link-color);
}

.buttons__list--grey {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  background: #f5f4fa;
  min-width: 128px;
  min-height: 38px;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__list--grey:hover, .buttons__list--grey:focus {
  background-color: var(--color-letter-blue);
  color: var(--color-letter-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons {
  padding-bottom: 94px;
  padding-top: 94px;
}

.buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__list--item {
  display: inline-block;
  align-items: center;
}

.buttons__list .buttons__list--item:not(:last-child) {
  margin-right: 8px;
}

.section-btn {
  display: inline-block;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.send__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send__btn:hover, .send__btn:focus {
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06px;
  color: var(--color-letter-white);
  line-height: calc(30 / 16);
  background: var(--color-letter-blue);
  border-radius: 4px;
  border: none;
  transform: translateX(185%);
  padding: 0 62px 0 29px;
  min-width: 200px;
  min-height: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__btn:hover {
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-podpiska {
  position: absolute;
  top: auto;
  right: 20px;
  fill: #ffffff;
}

.modal__title {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.working__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
}

.masters__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--section-title-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.team__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  margin-bottom: 50px;
}

.name__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--section-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.clients__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.social__title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Секция заголовка "Чем мы занимаемся" */
.title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}

.section__icons--action {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--section-title-color);
}

.section__icons--punctuality {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--section-title-color);
}

.section__icons--planing {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--section-title-color);
}

.section__icons--technologies {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--section-title-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 40px;
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close:hover .img-close-modal {
  fill: #188ce8;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.dogovir-label {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-left: 20px;
}

/* --------------------Чекбокс----------------------- */
.checkbox__input {
  appearance: none;
  position: absolute;
}

.icon {
  content: "";
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  position: absolute;
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox__input:checked + .icon {
  background-color: var(--color-letter-blue);
  background-image: url(../img/ch.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-letter-blue);
}

/* ---------------Позиционирование иконок плейсхолдера------------- */
.wrap {
  position: relative;
}

.wrap__input--people {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #000000;
}

.wrap__input--tel {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.wrap__input--mail {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.wrap__input:focus + .wrap__input--mail {
  fill: #188ce8;
}

.form__label {
  font-size: 12px;
  color: grey;
  display: block;
  margin-bottom: 5px;
}

.form__label--text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  outline: none;
}

.form__label--text:focus {
  border-color: #2196f3;
}

.field {
  border: 1px solid black;
  border-radius: 5px;
}

.checkbox {
  padding-left: 10px;
}

.link-dogovir {
  color: #2196f3;
  text-decoration: underline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  min-width: 200px;
}

.wrap__input--people {
  fill: black;
}

.section-input-footer {
  margin-left: 93px;
  position: relative;
}

.input-e-mail {
  position: absolute;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 358px;
  min-height: 50px;
}

.form {
  margin-bottom: 10px;
}

.wrap__input {
  padding-left: 35px;
  width: 448px;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 4px;
  color: #000000;
  outline: none;
}

.wrap__input:focus {
  border-color: #2196f3;
}

.wrap__input:focus + .wrap__input--tel {
  fill: #188ce8;
}

.wrap__input:focus + .wrap__input--people {
  fill: #188ce8;
}

.wrap__input::placeholder {
  color: grey;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 480px) {
  .sait-logo {
    width: 134px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.sait-logo__blue {
  color: var(--color-letter-blue);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(24 / 28);
  letter-spacing: 0.02em;
}

.sait-logo__black {
  color: var(--section-title-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(24 / 28);
  letter-spacing: 0.02em;
}

.service {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--color-letter-white);
  text-align: center;
  text-transform: uppercase;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
}

/* Заголовок h1 */
.service__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-letter-white);
  max-width: 696px;
  margin: 0 auto 30px auto;
}

.img-1 {
  padding-bottom: 94px;
}

.activity {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .activity {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.activity__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .activity__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .activity__list {
    margin-bottom: 0;
  }
}

.list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    width: 270px;
    margin-bottom: 0;
  }
}

.section__icons {
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section__icons--paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}

.section__icons--action {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__icons--action {
    text-align: left;
  }
}

.working__list {
  display: flex;
  flex-wrap: wrap;
}

.working__list--photo {
  margin-right: 30px;
  width: 370px;
}

.working__list .working__list--photo:last-child {
  margin-right: 0px;
}

.photo {
  position: relative;
}

.photo__paragraf {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  padding-top: 27px;
  text-align: center;
  height: 70px;
  width: 370px;
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__list {
  display: flex;
}

.team__list .team__list--photo:last-child {
  margin-right: 0px;
}

.team__list--photo {
  margin-right: 30px;
  background: var(--color-letter-white);
  border-bottom: #212121;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name__paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  text-align: center;
}

.name {
  padding: 30px 20px 30px 20px;
}

.network {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover {
  background-color: #188ce8;
  fill: white;
}

.network__link .network__link--svg:hover {
  fill: white;
  background-color: #188ce8;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__list {
  margin-right: 10px;
}

.network__list:last-child {
  margin-right: 0px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.companies:last-child {
  margin-right: 0px;
}

.companies__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.svg-company {
  fill: #afb1b8;
}

.сontacts {
  margin-right: 70px;
}

.logo {
  margin-bottom: 40px;
}

.logo__white {
  color: var(--color-letter-white);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(26 / 31);
}

.сontacts__address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.сontacts__address:hover {
  color: var(--color-letter-blue);
}

.сontacts__address:active {
  color: var(--section-paragraf-color);
}

.сontacts__address:focus {
  color: var(--color-letter-white);
}

.сontacts__mail {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  display: block;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.сontacts__mail:hover {
  color: var(--color-letter-blue);
}

.сontacts__mail:active {
  color: var(--active-link-color);
}

.сontacts__mail:focus {
  color: var(--color-letter-white);
}

.сontacts__address {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-letter-white);
  padding-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.сontacts__address:hover {
  color: var(--color-letter-blue);
}

.сontacts__address:active {
  color: var(--active-link-color);
}

.сontacts__address:focus {
  color: var(--section-paragraf-color);
}

.сontacts__tel {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.сontacts__tel:hover {
  color: var(--color-letter-blue);
}

.сontacts__tel:active {
  color: var(--active-link-color);
}

.сontacts__tel:focus {
  color: var(--color-letter-white);
}

.logo__blue {
  color: var(--color-letter-blue);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(26 / 31);
  letter-spacing: 0.02em;
}

.social__list {
  display: flex;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  background-color: #188ce8;
}

.social__link--logo {
  fill: white;
}

.subscribe {
  margin-left: 93px;
  position: relative;
}

.subscribe__mail {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__mail {
  color: #ffffff;
}

.subscribe__mail--input {
  position: absolute;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 358px;
  min-height: 50px;
}

.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.masters-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}

.section-paragraf-1 {
  font-weight: 400;
  color: var(--section-paragraf-color);
  line-height: calc(30 / 16);
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Расположение контактов портфолио*/
.categories-contact {
  display: flex;
  margin-left: auto;
}

/* Крайняя геометрия, во избежание выпадения списка из меню */
.categories-list .categories-contact-tel:not(:last-child) {
  margin-right: 0;
}

.categories-contact-mail {
  margin-right: 50px;
}

.masters {
  position: relative;
  overflow: hidden;
}

.masters__text {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images:hover .masters__text {
  transform: translateY(0);
}

.text-img {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

/* Студия Список абзацев*/
.posters {
  display: flex;
  flex-wrap: wrap;
}

.posters .images:last-child {
  margin-right: 0px;
}

.posters .images:nth-child(-n + 3) {
  margin-top: 0;
}

.posters .images:nth-child(3n + 1) {
  margin-left: 0;
}

.posters > .images {
  background: #ffffff;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.categories-contact {
  display: flex;
  margin-left: auto;
}

/* Крайняя геометрия, во избежание выпадения списка из меню */
.categories-list .categories-contact-tel:not(:last-child) {
  margin-right: 0;
}

.categories-contact-mail {
  margin-right: 50px;
}

.masters-paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}

.section-paragraf-1 {
  font-weight: 400;
  color: var(--section-paragraf-color);
  line-height: calc(30 / 16);
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 93px;
}

.categories-list .item:not(:last-child) {
  margin-right: 0;
}

.item {
  margin-left: 50px;
}

.masters {
  position: relative;
  overflow: hidden;
}

.masters__text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: var(--font-family);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images:hover .masters__text {
  transform: translateY(0);
}

.images__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images__link:focus, .images__link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-img {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.footer-sections {
  display: flex;
  align-items: baseline;
}

.mail-svg {
  margin-right: 10px;
  fill: currentColor;
}

.mail-svg:hover {
  fill: #188ce8;
}

.tel-svg {
  margin-right: 10px;
  fill: currentColor;
}

.tel-svg:hover {
  fill: #188ce8;
}

.tel-svg .masters {
  position: relative;
  overflow: hidden;
}

.tel-svg .masters__text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: var(--font-family);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images:hover .tel-svg .masters__text {
  transform: translateY(0);
}

/* Студия Список абзацев*/
.posters {
  display: flex;
  flex-wrap: wrap;
}

/* Портфолио */
.current-portfolio {
  position: relative;
  color: #2196f3;
}

.current-portfolio::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0px;
  bottom: 0px;
}

/* ----------Выплывающий текст над секцией---------- */
.images:hover .masters__text {
  transform: translateY(0);
}

.masters {
  position: relative;
  overflow: hidden;
}

.masters__text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: var(--font-family);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */