.activity {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.activity__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.list {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
  }
}
.section__icons {
  @extend %align-list;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.section__icons--paragraf {
  font-weight: normal;
  color: var(--section-paragraf-color);
  line-height: calc(24 / 14);
  font-size: 14px;
}
.section__icons--action {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
