.container {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }
}

.team {
}
.team__list--photo {
  @media screen and (min-width: 480px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
//   background-color: #f5f4fa;
//   padding-bottom: 94px;
//   padding-top: 94px;
// }
// .team__list {
//   display: flex;
//   & .team__list--photo:last-child {
//     margin-right: 0px;
//   }
// }
// .team__list--photo {
//   margin-right: 30px;
//   background: var(--color-letter-white);
//   border-bottom: #212121;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }

// .name__paragraf {
//   font-weight: normal;
//   color: var(--section-paragraf-color);
//   line-height: calc(24 / 14);
//   font-size: 14px;
//   text-align: center;
// }
// .name {
//   padding: 30px 20px 30px 20px;
// }
// .network {
//   display: flex;
//   justify-content: center;
//   margin-top: 10px;
// }
// .network__link {
//   @extend %align-list;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: white;
//   margin: auto;
//   fill: #afb1b8;
//   transition-property: fill, background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .network__link:hover {
//   background-color: #188ce8;
//   fill: white;
// }

// .network__link .network__link--svg:hover {
//   fill: white;
//   background-color: #188ce8;
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .network__list {
//   margin-right: 10px;
//   &:last-child {
//     margin-right: 0px;
//   }
// }
