:root {
  --section-paragraf-color: #757575;
  --section-title-color: #212121;
  --color-letter-white: #ffffff;
  --color-letter-blue: #2196f3;
  --active-link-color: #188ce8;
  --color-background: #2f303a;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Raleway", sans-serif;
}
.body {
  font-family: var(--font-family);
}
